<p>
	part-status-dashboard works!
</p>

<div class="form-group">
	<label for="exampleFormControlSelect1">Example select</label>
	<select class="form-control" id="exampleFormControlSelect1" (change)="changePriorityFilter($event.target)">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	</select>
</div>

<div class="row">

	<div *ngFor="let part of filteredParts" class="col-md-4">
		<div class="card bg-light mb-3" style="max-width: 18rem;">
			<div class="card-header">
				{{part.name}} | {{part.number}}
			</div>
			<div class="card-body">
				<h5 class="card-title">{{part.priority}}</h5>
				<p class="card-text"></p>
			</div>
			<div class="card-footer text-muted">
				<button class="btn btn-primary btn-sm" (click)="addCounter()">Part Details</button>
			</div>
		</div>
	</div>

	{{count$ | async}}

	<div class="col-md-4">
		<div class="part">
			test
		</div>
	</div>
	<div class="col-md-4">
		<div class="part">
			test
		</div>
	</div>
	<div class="col-md-4">
		<div class="part">
			test
		</div>
	</div>

</div>