<div class="container bootstrap snippet">
	<div class="row">
		<div class="col-md-12">
			<div class="blog-comment">
				<h3 class="text-success">Comments</h3>
				<hr/>
				<ul class="comments">
					<li class="clearfix">
						<app-part-comment [data]="data"></app-part-comment>

					</li>

					<!--<li class="clearfix">-->
						<!--<app-part-comment [data]="data"></app-part-comment>-->
						<!--&lt;!&ndash; We iterate over ul's to achieve sub comments &ndash;&gt;-->
						<!--<ul class="comments">-->
							<!--<li class="clearfix">-->
								<!--<app-part-comment [data]="data"></app-part-comment>-->
							<!--</li>-->
						<!--</ul>-->
						<!--<ul class="comments">-->
							<!--<li class="clearfix">-->
								<!--<app-part-comment [data]="data"></app-part-comment>-->
							<!--</li>-->
						<!--</ul>-->
					<!--</li>-->
				</ul>
			</div>
		</div>
	</div>
</div>